<div class="modal-header">
  <h2>{{$ctrl.chat.id}}</h2>
</div>
<div class="modal-body">
  <div class="chat-body">
    <div ng-repeat="msg in $ctrl.chat.messages" class="message-container clearfix" >
      <strong ng-if="msg.sender !== $ctrl.chatConnection.username">{{ msg.sender }}: </strong>
      <span class="message " ng-class="{'message-self': msg.sender === $ctrl.chatConnection.username}">{{ msg.content }}</span>
    </div>
  </div>
</div>
<div class="modal-footer">
  <form ng-submit="$ctrl.sendMessage($ctrl.inputText)" class="row">
    <div class="form-group col-md-9 col-sm-9 col-xs-9">
      <input type="text" class="form-control" ng-model="$ctrl.inputText"/>
    </div>
    <div class=" ">
      <a ng-click="showEmojis = !showEmojis" class="btn btn-link col-md-1 col-sm-1 col-xs-1" href="#">
        &#128512;
      </a>
    </div>
    <div class="">
      <button type="submit" class="btn btn-primary col-md-2 col-md-2 col-md-2">Send</button>
    </div>
  </form>
  <emoji-list ng-if="showEmojis"></emoji-list>
</div>

