  <div class="row">
    <div class="col-md-4 col-sm-4 col-xs-6" ng-repeat="chat in $ctrl.chats">
      <div class="chatroom">
        <h4>{{chat.id}} <span class="badge">{{ chat.numUnread() }}</span></h4>
          <p ng-if="chat.messages.length">
            <small>
              <strong>{{ $ctr.username === chat.lastMessage().sender ? 'You' : chat.lastMessage().sender }}:</strong>
              <span>{{ chat.lastMessage().content }}</span>
            </small>
          </p>
        <p ng-if="!chat.messages.length">
          <small>No Activity Yet...</small>
        </p>
        <div class="form-group">
          <button class="btn btn-primary" ng-click="$ctrl.openChat(chat)">Join</button>
        </div>
      </div>
    </div>
  </div>
